.text-small {
  font-size: 12px;
  font-weight: 500;
}

.text-normal {
  font-size: 14px;
  font-weight: 500;
}

.text-btn-small {
  font-size: 14px;
  font-weight: 500;
}

.text-btn {
  font-size: 16px;
  font-weight: 500;
}

.text-btn-big {
  font-size: 18px;
  font-weight: 500;
}

.text-title {
  font-size: 18px;
  font-weight: 500;
}

.text-title-big {
  font-size: 20px;
  font-weight: 700;
}